html {
  font-family: sans-serif;
  color: white;
  background-color: #333333;
}

body {
  background: rgb(221,237,247);
}

h1 {
  width: 100%;
  text-align: center;
}

.canvass {
  clear: both;
  width: 512px;
  height: 512px;
  border: 1px solid lightgray;
  display: block;
  margin: 0 auto;
}

.roww {
  float: left;
}

.cell {
  float: left;
  width: 24px;
  height: 24px;
  border: 1px solid lightgray;
  position: relative;
  color: black;
}

.cell p {
  position: absolute;
  padding: 0 !important;
  margin: 0 !important;
  text-align: center;
  width: 100%;
  line-height: 30px;
}

.btn-container {
  clear: both;
  padding-top: 10px;
  width: 512px;
  display: block;
  margin: 0 auto;
}

.btn {
  width: 100px;
  float: left;
  padding: 5px;
  margin: 5px 5px;
  cursor: pointer;
}

.btn p {
  padding: 0 !important;
  margin: 0 !important;
  text-align: center;
}

.btn:hover {
  box-shadow: 0 0 6px white;
}

.button {
  background-color: white;
  color: black;
}

.selected {
  box-shadow: 0 0 6px white;
}

.red-bg {
  background-color: #ED1B24;
  color: black;
}

.brown-bg {
  background-color: #805600;
  color: white;
}

.tan-bg {
  background-color: #FFC20F;
  color: black;
}

.black-bg {
  background-color: #464646;
  color: white;
}

.blue-bg {
  background-color: #00B7F0;
  color: black;
}

.yellow-bg {
  background-color: #FEF206;
  color: black;
}

.white-bg {
  background-color: white;
  color: black;
}

.charm-red-bg{
  background-color: #f34135;
  color: black;
}

.charm-black-bg{
  background-color: black;
  color: white;
}

.charm-yellow-bg{
  background-color: #ffeb3c;
  color: black;
}

.charm-orange-bg{
  background-color: #ff9700;
  color: black;
}

.charm-white-bg{
  background-color: white;
  color: black;
}

.sonic-black-bg{
  background-color: black;
  color: white;
}

.sonic-white-bg{
  background-color: white;
  color: black;
}

.sonic-blue-bg{
  background-color: #2196f3;
  color: black;
}

.sonic-tan-bg{
  background-color: #f4ac72;
  color: black;
}

.sonic-red-bg{
  background-color: #d50100;
  color: black;
}

.push-black-bg{
  background-color: black;
  color: white;
}

.push-white-bg{
  background-color: white;
  color: black;
}

.push-grey-bg{
  background-color: #9e9596;
  color: black;
}

.push-darkgrey-bg{
  background-color: #4c3e3d;
  color: black;
}

.push-pink-bg{
  background-color: #e44eb9;
  color: black;
}

.minion-black-bg{
  background-color: black;
  color: white;
}

.minion-white-bg{
  background-color: white;
  color: black;
}

.minion-green-bg{
  background-color: green;
  color: black;
}

.minion-grey-bg{
  background-color: #535353;
  color: white;
}

.minion-blue-bg{
  background-color: #35e7c7;
  color: black;
}

.minion-red-bg{
  background-color: red;
  color: black;
}

.minion-black-bg{
  background-color: black;
}

.minion-yellow-bg{
  background-color: yellow;
  color: black;
}

.kitty-red-bg{
  background-color: #ff0000;
  color: black;
}

.kitty-white-bg{
  background-color: #ffffff;
  color: black;
}

.kitty-black-bg{
  background-color: #000000;
  color: white;
}

.sword-dgreen-bg{
  background-color: #135f52;
  color: black;
}

.sword-lgreen-bg{
  background-color: #35e7c7;
  color: black;
}

.sword-brown-bg{
  background-color: #876526;
  color: black;
}

.sword-white-bg{
  background-color: #ffffff;
  color: black;
}

.ice-lpink-bg{
  background-color: #faadd7;
  color: black;
}

.ice-dpink-bg{
  background-color: #d2007f;
  color: black;
}

.ice-yellow-bg{
  background-color: #fcbb00;
  color: black;
}

.ice-black-bg{
  background-color: #000000;
  color: black;
  color: white;
}

.ice-white-bg{
  background-color: #ffffff;
  color: black;
}

.groot-black-bg{
  background-color: black;
  color: white;
}

.groot-white-bg{
  background-color: white;
  color: black;
}

.groot-green-btn{
  background-color: green;
  color: black;
}

.groot-brown-btn{
  background-color: rgb(104, 68, 26);
}

.groot-dbrown-btn{
  background-color: rgb(56, 22, 22);
}

.groot-grey-bg{
  background-color: #a8a8a8;
  color: black;
}

.groot-black-btn{
  background-color: black;
}


.hide-copy p {
  display: none;
}

